[submodule "init.docker.sh"]
	path = init.docker.sh
	url = https://gist.github.com/rachidbch/2c947cf92fdd15f6a2b4eddbf6baeb1a
[submodule "docker"]
	path = docker
	url = https://gist.github.com/rachidbch/9ef6187b57b3e4c415f571d0e2991ae0
