[submodule "init.docker.sh"]
	path = init.docker.sh
	url = https://gist.github.com/rachidbch/2c947cf92fdd15f6a2b4eddbf6baeb1a
[submodule "docker"]
	path = docker
	url = https://gist.github.com/rachidbch/9ef6187b57b3e4c415f571d0e2991ae0
[submodule "shell"]
	path = shell
	url = https://gist.github.com/rachidbch/35ccb89fceef4d4f58dfa8251e86283d
[submodule "bootstrap"]
	path = bootstrap
	url = https://gist.github.com/rachidbch/2e10095b0042e784c557a15e2c804807
